<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .a{
      height: 300px;
      width: 300px;
      background:aquamarine;
      z-index: 2;
      position: absolute;
    }
    .b{
      height: 100px;
      width: 300px;
      background:azure;
      z-index: -1;
      position: absolute;
    }
    .c{

    }
  </style>
</head>

<body>
  <div class="a">
    
  </div>
  <div class="b">
    <span class="c">点击我</span>
  </div>
</body>

</html>